:root {
  --corbg: #DFF0FF;
  --cortexto: #222222;
  --bordapadrao: 2px solid black;
  --fontepadrao: Montserrat, Arial, monospace, sans-serif;
}

header, main, footer {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font-family: var(--fontepadrao);
  color: var(--cortexto);
  background-color: #AADDFF;
}

header {
  max-width: 1200px;
  margin: 15px auto;
  padding: 0 25px;
  box-sizing: border-box;
  background-image: url('./imagens/azul.jpg');
  background-position: center 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 200px;
  height: 200px;
  border: var(--bordapadrao);
  border-radius: 30px;
}

header h1 {
  font-size: 64px;
  color: black;
  text-align: center;
}

header h2 {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

section {
  margin: 40px 0;
}

main {
  max-width: 1200px;
  background-color: var(--corbg);
  margin: 15px auto;
  padding: 0 25px;
  box-sizing: border-box;
  border: var(--bordapadrao);
  border-radius: 40px;
}

footer {
  max-width: 1200px;
  margin: 15px auto;
  padding: 0 25px;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--corbg);
  border: var(--bordapadrao);
  border-radius: 40px;
}

h1 {
  font-size: 48px;
  margin: 6px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

nav ul li {
  color: #000000;
  background-color: #03BFFF;
  padding: 4px 8px;
  border-radius: 16px;
}

nav ul li:hover {
  background-color: #038FCE;
}

nav ul li a {
  text-decoration: none;
  color: var(--cortexto);
}

.campo, .campo2 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 6px;
}

.campo, .campo2 label {
  font-weight: bold;
}

.campo2 label{
	width: 60px;
}

.campo input {
  width: 60px;
}

#resultadoMedia {
  height: 1em;
}

#boxIMC {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 600px;
}

#resultadoIMC {
  width: 600px;
  height: 0px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  padding: 8px;
}

button {
  box-sizing: border-box;
  height: 22px;
}

.divMedia {
  display: grid;
}

#listaNomes {
  list-style-type: none;
	padding-left: 0;
}

#container {
  display: flex;
  gap: 20px;
}

#entrada4 {
  flex: 1;
}

#saida4 {
  width: 500px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  overflow-y: auto;
}
